// SASS Imports

@import 'base';

// SASS Variables

$motto: "Kaushan Script", sans-serif;
$general: "Muli", sans-serif;

$primaryColor: #ff3a3a;
$secondaryColor: #ff893a;
$auxiliaryColor: #fcf579;

$pointOne: $auxiliaryColor;
$pointTwo: #e45a30;
$pointThree: $primaryColor;

:root {
  .btn.focus, .btn:focus { box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); }
  body { background-color: #fde2a2; }
  .h1, h1 { font-size: 2rem; }
}

* {
  font-family: $general;
  font-weight: 900;
  outline-color: $primaryColor;
}

::-moz-selection {
  color: #343a40;
  background: $primaryColor;
}

::selection {
  color: #343a40;
  background-color: $primaryColor;
}

.noscript-notice {
  background-color: rgba(246, 218, 60, 1);
  z-index: 6000 !important;
}

.custom-text-wrap { /* text-wrapping for text detected with errors regarding 320px width res */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.contact-page ::selection {
  color: white;
  background-color: $primaryColor;
}

.g-link {
  top: 150px;
  cursor: pointer;
  z-index: 1000;

  &:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  img {
    @include setArea(30px, 30px);
  }
}

/* Navigation Section */

.intro {
  background: center/cover url("../images/intro.jpg") no-repeat;
  height: 450px;
  border-bottom: 20px solid $primaryColor;
  z-index: 0;
}

nav {
  .navbar { transition: top .2s .15s, background-color .3s; }

  .navbar-nav {
    .nav-link {
      color: $primaryColor;

      &:hover { color: rgb(220, 0, 0); }
    }
  }
}

.bg-transparent { transition: background-color .15s; }

.bg-transparent-black {
  background-color: rgba(10, 10, 10, .8);
  transition: background-color .15s;
}

.navbar-brand { img { @include setArea(75%, 75%); } }

.navbar-color-scheme-color-1 {
  .navbar-toggler { border: 2px solid rgba(255, 0, 0, .75); }
  .navbar-toggler-icon { background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
}

/* Intro Section */

.intro-statement {
  span {
    font: 2em $motto;
    letter-spacing: 5px;
  }
}

/* -- Main Section -- */
/* Leading Points Section */

main {
  .upper-section {

    .bg-filler {
      background-repeat: no-repeat;
      background-size: auto 100%;

      &:nth-of-type(2) { transform: scaleX(-1); }
    }

    .leading-points {
      height: auto;
      width: 90%;

      .leading-point-one, .leading-point-two, .leading-point-three {
        padding: 7.5% 2%; // For IE10+ support

        div { img { @include setArea(134px, 101px); } }

        p {
          width: 100%;
          font-size: 1.25em;
        }

        p, h1 {
          &::selection {
            color: black;
            background-color: white;
          }
        }
      }

      .leading-point-one {
        background-color: $pointOne;
        color: $primaryColor;
      }

      .leading-point-two {
        background-color: $pointTwo;
        color: $auxiliaryColor;
      }

      .leading-point-three {
        background-color: $pointThree;
        color: white;
      }
    }
  }

  .lower-section {
    height: auto;
    background-color: $primaryColor;

    .parent-container {
      height: auto;
      width: 88%;

      .price-calculator {
        height: auto;
        background-color: $secondaryColor;

        .custom-container {
          input[type=radio] {
            position: absolute;
            opacity: 0;

            &:focus {
              + label span {
                outline: 1px dotted red;
                outline: 2px auto $primaryColor;
              }
            }

            &:checked {
              + label span.radio::after {
                left: -35px;
                content: url('../images/check.svg');
                @include setArea(27px, 27px);
              }
            }
          }


          span {
            position: relative;

            &::before, &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              margin: auto;
            }

            &::before {
              left: -35px;
              @include setArea(27px, 27px);
              border: 3px solid white;
            }

            &:hover { cursor: pointer; }
          }

          .radio { font-size: 1.25em; }
        }

        .result-circle {
          @include setArea(200px, 200px);
          background-color: white;
          border: 20px solid $primaryColor;
          border-radius: 500px;
          @include noselect; /* solves certain selection issues on mobile platforms */
          cursor: pointer;
          transition: all .25s;

          &:hover {
            box-shadow: 0 0 0 10px rgba(255, 255, 255, .1);
            transition: all .15s;
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0 10px rgba(255, 255, 255, .1);
          }

          span {
            @include noselect;
            font-size: 2em;
            color: $primaryColor;
            transition: all .25s;
          }
        }

        .result-heading {
          @include noselect;
          text-decoration: underline;
        }
      }

      .contact-page {
        height: auto;
        background-color: rgb(240, 240, 240);

        p { font-size: 1.25em; }

        form {
          input, textarea {
            width: 100%;
            border: none;
            border-bottom: 1px solid #343a40;
            background-color: rgba(0, 0, 0, 0);
            transition: .1s border-bottom-color, .1s color;

            &:focus {
              outline: none;
              color: $primaryColor;
              border-bottom-color: $primaryColor;
              transition: .08s border-bottom-color, .08s color;
            }

            &::selection {
              background-color: $primaryColor;
              color: #343a40;
            }
          }

          div {
            textarea {
              position: relative;
              top: -2px;
              max-height: 12.1rem;
              resize: none;
              overflow: hidden;
            }
          }
        }

        button {
          color: $primaryColor;
          border: 2px solid $primaryColor;
        }

        .btn {
          width: auto;
          border-radius: .25rem;
          transition: all .07s linear;

          &:hover {
            color: white;
            background-color: $primaryColor;
            transition: all .03s linear;
          }
        }
      }
    }
  }

  footer {
    background-color: black;

    img { @include setArea(32px, 88px); }
  }
}

/* Media Queries */

@media (min-width: 360px) {
  @include setArea(250px, 250px,
  "main .lower-section .parent-container .price-calculator .result-circle");
}

@media (min-width:576px) { :root { .h1, h1 { font-size: 2.5rem; } } }

@media (min-width: 768px) {
  @include setArea(100%, 100%, ".navbar-brand img");

  .intro-statement { span { font-size: 3em; } }
}

@media (min-width: 992px) {
  nav {
    .navbar { transition: background-color .1s; }
    .navbar-nav { .nav-link { font-size: 1.1em; } }
    @include setArea(null, 70%, "main .leading-points p");
  }

  .contact-page { p { width: 85%; } }
}

@media (min-width: 1600px) { form { div:nth-child(2) { flex-grow: 1; } } }
