:root .btn.focus, :root .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

:root body {
  background-color: #fde2a2;
}

:root .h1, :root h1 {
  font-size: 2rem;
}

* {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  outline-color: #ff3a3a;
}

::-moz-selection {
  color: #343a40;
  background: #ff3a3a;
}

::selection {
  color: #343a40;
  background-color: #ff3a3a;
}

.noscript-notice {
  background-color: #f6da3c;
  z-index: 6000 !important;
}

.custom-text-wrap {
  /* text-wrapping for text detected with errors regarding 320px width res */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.contact-page ::selection {
  color: white;
  background-color: #ff3a3a;
}

.g-link {
  top: 150px;
  cursor: pointer;
  z-index: 1000;
}

.g-link:hover {
  filter: invert(1);
}

.g-link img {
  height: 30px;
  width: 30px;
}

/* Navigation Section */
.intro {
  background: center/cover url("../images/intro.jpg") no-repeat;
  height: 450px;
  border-bottom: 20px solid #ff3a3a;
  z-index: 0;
}

nav .navbar {
  transition: top 0.2s 0.15s, background-color 0.3s;
}

nav .navbar-nav .nav-link {
  color: #ff3a3a;
}

nav .navbar-nav .nav-link:hover {
  color: #dc0000;
}

.bg-transparent {
  transition: background-color 0.15s;
}

.bg-transparent-black {
  background-color: rgba(10, 10, 10, 0.8);
  transition: background-color 0.15s;
}

.navbar-brand img {
  height: 75%;
  width: 75%;
}

.navbar-color-scheme-color-1 .navbar-toggler {
  border: 2px solid rgba(255, 0, 0, 0.75);
}

.navbar-color-scheme-color-1 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Intro Section */
.intro-statement span {
  font: 2em "Kaushan Script", sans-serif;
  letter-spacing: 5px;
}

/* -- Main Section -- */
/* Leading Points Section */
main .upper-section .bg-filler {
  background-repeat: no-repeat;
  background-size: auto 100%;
}

main .upper-section .bg-filler:nth-of-type(2) {
  transform: scaleX(-1);
}

main .upper-section .leading-points {
  height: auto;
  width: 90%;
}

main .upper-section .leading-points .leading-point-one, main .upper-section .leading-points .leading-point-two, main .upper-section .leading-points .leading-point-three {
  padding: 7.5% 2%;
}

main .upper-section .leading-points .leading-point-one div img, main .upper-section .leading-points .leading-point-two div img, main .upper-section .leading-points .leading-point-three div img {
  height: 134px;
  width: 101px;
}

main .upper-section .leading-points .leading-point-one p, main .upper-section .leading-points .leading-point-two p, main .upper-section .leading-points .leading-point-three p {
  width: 100%;
  font-size: 1.25em;
}

main .upper-section .leading-points .leading-point-one p::selection, main .upper-section .leading-points .leading-point-one h1::selection, main .upper-section .leading-points .leading-point-two p::selection, main .upper-section .leading-points .leading-point-two h1::selection, main .upper-section .leading-points .leading-point-three p::selection, main .upper-section .leading-points .leading-point-three h1::selection {
  color: black;
  background-color: white;
}

main .upper-section .leading-points .leading-point-one {
  background-color: #fcf579;
  color: #ff3a3a;
}

main .upper-section .leading-points .leading-point-two {
  background-color: #e45a30;
  color: #fcf579;
}

main .upper-section .leading-points .leading-point-three {
  background-color: #ff3a3a;
  color: white;
}

main .lower-section {
  height: auto;
  background-color: #ff3a3a;
}

main .lower-section .parent-container {
  height: auto;
  width: 88%;
}

main .lower-section .parent-container .price-calculator {
  height: auto;
  background-color: #ff893a;
}

main .lower-section .parent-container .price-calculator .custom-container input[type=radio] {
  position: absolute;
  opacity: 0;
}

main .lower-section .parent-container .price-calculator .custom-container input[type=radio]:focus+label span {
  outline: 1px dotted red;
  outline: 2px auto #ff3a3a;
}

main .lower-section .parent-container .price-calculator .custom-container input[type=radio]:checked+label span.radio::after {
  left: -35px;
  content: url("../images/check.svg");
  height: 27px;
  width: 27px;
}

main .lower-section .parent-container .price-calculator .custom-container span {
  position: relative;
}

main .lower-section .parent-container .price-calculator .custom-container span::before, main .lower-section .parent-container .price-calculator .custom-container span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

main .lower-section .parent-container .price-calculator .custom-container span::before {
  left: -35px;
  height: 27px;
  width: 27px;
  border: 3px solid white;
}

main .lower-section .parent-container .price-calculator .custom-container span:hover {
  cursor: pointer;
}

main .lower-section .parent-container .price-calculator .custom-container .radio {
  font-size: 1.25em;
}

main .lower-section .parent-container .price-calculator .result-circle {
  height: 200px;
  width: 200px;
  background-color: white;
  border: 20px solid #ff3a3a;
  border-radius: 500px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
  /* solves certain selection issues on mobile platforms */
  cursor: pointer;
  transition: all 0.25s;
}

main .lower-section .parent-container .price-calculator .result-circle:hover {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  transition: all 0.15s;
}

main .lower-section .parent-container .price-calculator .result-circle:focus {
  outline: none;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
}

main .lower-section .parent-container .price-calculator .result-circle span {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
  font-size: 2em;
  color: #ff3a3a;
  transition: all 0.25s;
}

main .lower-section .parent-container .price-calculator .result-heading {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
  text-decoration: underline;
}

main .lower-section .parent-container .contact-page {
  height: auto;
  background-color: #f0f0f0;
}

main .lower-section .parent-container .contact-page p {
  font-size: 1.25em;
}

main .lower-section .parent-container .contact-page form input, main .lower-section .parent-container .contact-page form textarea {
  width: 90%;
  border: none;
  border-bottom: 1px solid #343a40;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.1s border-bottom-color, 0.1s color;
}

main .lower-section .parent-container .contact-page form input:focus, main .lower-section .parent-container .contact-page form textarea:focus {
  outline: none;
  color: #ff3a3a;
  border-bottom-color: #ff3a3a;
  transition: 0.08s border-bottom-color, 0.08s color;
}

main .lower-section .parent-container .contact-page form input::selection, main .lower-section .parent-container .contact-page form textarea::selection {
  background-color: #ff3a3a;
  color: #343a40;
}

main .lower-section .parent-container .contact-page form div textarea {
  position: relative;
  top: -2px;
  max-height: 14rem;
  resize: none;
  overflow: hidden;
}

main .lower-section .parent-container .contact-page button {
  color: #ff3a3a;
  border: 2px solid #ff3a3a;
}

main .lower-section .parent-container .contact-page .btn {
  width: auto;
  border-radius: 0.25rem;
  transition: all 0.07s linear;
}

main .lower-section .parent-container .contact-page .btn-hovered {
  color: white;
  background-color: #ff3a3a;
}

main .lower-section .parent-container .contact-page .btn-slower-transition {
  transition: all 0.25s linear;
}

main footer {
  background-color: black;
}

main footer img {
  height: 32px;
  width: 88px;
}

/* Media Queries */
@media (min-width: 360px) {
  main .lower-section .parent-container .price-calculator .result-circle {
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 576px) {
  :root .h1, :root h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-brand img {
    height: 100%;
    width: 100%;
  }

  .intro-statement span {
    font-size: 3em;
  }
}

@media (min-width: 992px) {
  nav .navbar {
    transition: background-color 0.1s;
  }

  nav .navbar-nav .nav-link {
    font-size: 1.1em;
  }

  nav main .leading-points p {
    width: 70%;
  }

  nav .contact-page p {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
